*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ff9933;
    padding: 30px 15%;
    transition: ease .40s; 
}

.logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
    border-radius: 20px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--bg-color);
    font-size: var(--p-font);
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    text-decoration: none;
}

.navbar a:hover{
    background: var(--bg-color);
    color: #ff9933;
    box-shadow: var(--bg-color);
    border-radius: 4px;
}

.container{
    display: flex;
}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px 10px;
}

.search-bar input[type=text]{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 10px;
    font-size: 12px;
    color: var(--bg-color);
}

.search-bar button i{
  width: 25px;
}

.search-bar button{
    background: #ffcc99;
    border: 0;
    border-radius: 40%;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.search-bar button:hover {
    background: #fff2e6;
}

.container .login{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}

.container .login i{
    color: #089da1;
}

.container .login i:hover{
    color: var(--bg-color);
}

.container .cart{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}

.container .cart i{
    color: #089da1;
}

.container .cart i:hover{
    color: var(--bg-color);
}

#menu-icon{
    color: var(--text-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

                                          /* Header sticky*/

header.sticky{
    background: #ff9933;
    padding: 10px 15%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; 
}




                                          /* sản phẩm trong giỏ hàng*/
.small-container{
    padding: 200px;
}
.small-container tr{
    border-bottom: 2px solid #ffcc99;
}
.small-container h1{
    padding: 20px;
    text-align: center;

}
#cart_page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.cart-info p{
    font-size: 20px;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ffcc99;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    padding: 10px 20px;
    background: #ffcc99;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    border-radius: 30px;
}
td a:hover{
    background: #ff9933
}
td img{
    width: 100px;
    height: 120px;
    margin-right: 10px;
}
.Total-price{
    display: flex;
    justify-content: flex-end;
}
.Total-price table{
    border: 3px solid #ffbf80;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}


                                          /* phần chân website*/
footer{
  width: 100%;
  background: #ffbf80;
}

footer .footer_main{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer .footer_main .tag{
  margin: 10px 0;
}

footer .footer_main .tag img{
  width: 100px;
  margin-bottom: 10px;
  border-radius: 20px;
}

footer .footer_main .tag p{
  width: 250px;
  line-height: 22px;
  text-align: justify;
}

footer .footer_main .tag h1{
  font-size: 25px;
  margin: 25px 0;
  color: var(--bg-color);
}

footer .footer_main .tag a{
  display: block;
  color: black;
  text-decoration: none;
  margin: 20px 0;
}

footer .footer_main .tag a:hover{
    background: var(--bg-color);
    color: #ff9933;
    box-shadow: var(--bg-color);
    border-radius: 4px;
}

footer .footer_main .tag .social_link i{
  margin: 0 5px;
}

footer .footer_main .tag .send form{
  max-width: 100%;
  width: 300px;
  position: relative;
}

footer .footer_main .tag .send form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 20px 150px 20px 30px;
    box-shadow: 5px 10px 30px rgb(85, 85, 85 / 20%);
    outline: none;
    border: none;
    border-radius: 15px;
}

footer .footer_main .tag .send form input:last-child{
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    padding: 14px 30px;
    background: #089da1;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    top: 6px;
    right: 6px;
}

footer .end{    
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #000;
}

footer .end span{
  color: #089da1;
  margin-left: 10px;
}


                                          /* responsive*/

                                          /* 1450px*/                                          
@media (max-width: 1450px){
  header{
    padding: 17px 3%;
    transition: .2s;
  }

  header.sticky{
    padding: 10px 3%;
    transition: .2s;
  }

  section{
    padding: 30px 3%;
    transition: .2s;
  }

  .footer_main{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30%;
    padding: 0 30px;
    margin-bottom: 150px;
    transition: .2s;
  }

  :root{
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }
}

                                          /* 1040px*/   
@media (max-width: 1040px){
  #menu-icon{
    display: block;
    color: #fff;
  }
  .sticky #menu-icon{
    color: var(--bg-color);
  }

  .navbar{
    position: absolute;
    top: 0;
    right: -100%;
    width: 270px;
    height: 120vh;
    background: #ff9933;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 30px;
    transition: 0.5s all;
  }
  .navbar a{
    display: block;
    margin: 1.2rem 0;
  }

  .open{
    right: 0;
  }

  footer .footer_main{
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

}
                                          /* 575px*/
@media (max-width: 575px){

    .small-container{
        padding: 100px;
    }
  .footer_main{
    text-align: center;
    align-items: center;
  }
  :root{
    --big-font: 3.8rem;
    --h2-font: 1.8rem;
    transition: .2s;
  }
  text{
    text-align: center;
  }
  .main{
    height: 85vh;
    transition: .2s;
  }
}
